<section class="contact section" id="contact">
  <h1 class="heading"><span>contact</span> us</h1>

  <div class="contact__container container">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d86953.42897221392!2d15.371577691220775!3d47.07368511195274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!3m2!1sen!2sat!4v1674645495949!5m2!1sen!2sat"
      allowfullscreen=""
      loading="lazy"
      class="contact__map"
    ></iframe>

    <form class="contact__form">
      <h3 class="contact__title">get in touch</h3>
      <input type="text" placeholder="Name" class="contact__input" />
      <input type="email" placeholder="Email" class="contact__input" />
      <input type="tel" placeholder="Subject" class="contact__input" />
      <textarea
        placeholder="Message"
        class="contact__input contact__textarea"
        cols="30"
        rows="10"
      ></textarea>
      <input type="submit" value="send message" class="btn" />
    </form>
  </div>
</section>
