<section class="footer section" id="footer">
  <div class="footer__container container">
    <div class="footer__content">
      <h3 class="footer__title">contact info</h3>
      <a href="#">
        <img
          src="../../../assets/image/icons/phone.svg"
          alt="arrow"
          class="icon-xs"
        />
        +43 667 7726
      </a>
      <a href="#">
        <img
          src="../../../assets/image/icons/phone.svg"
          alt="arrow"
          class="icon-xs"
        />
        +43 668 2631
      </a>
      <a href="#" style="text-transform: lowercase">
        <img
          src="../../../assets/image/icons/email.svg"
          alt="arrow"
          class="icon-xs"
        />
        subotic.dejan89@gmail.com
      </a>
      <a href="#">
        <img
          src="../../../assets/image/icons/map.svg"
          alt="arrow"
          class="icon-xs"
        />
        graz 8020, Austria
      </a>
    </div>

    <div class="footer__content">
      <h3 class="footer__title">quick links</h3>
      <a href="#">
        <img
          src="../../../assets/image/icons/arrow-right.svg"
          alt="arrow"
          class="icon-xs"
        />
        home
      </a>
      <a href="#">
        <img
          src="../../../assets/image/icons/arrow-right.svg"
          alt="arrow"
          class="icon-xs"
        />
        vehicles
      </a>
      <a href="#">
        <img
          src="../../../assets/image/icons/arrow-right.svg"
          alt="arrow"
          class="icon-xs"
        />
        services
      </a>
      <a href="#">
        <img
          src="../../../assets/image/icons/arrow-right.svg"
          alt="arrow"
          class="icon-xs"
        />
        featured
      </a>
      <a href="#">
        <img
          src="../../../assets/image/icons/arrow-right.svg"
          alt="arrow"
          class="icon-xs"
        />
        reviews
      </a>
      <a href="#">
        <img
          src="../../../assets/image/icons/arrow-right.svg"
          alt="arrow"
          class="icon-xs"
        />
        contact
      </a>
    </div>

    <div class="footer__content">
      <h3 class="footer__title">contact info</h3>
      <a href="#">
        <img
          src="../../../assets/image/icons/facebook.svg"
          alt="arrow"
          class="icon-xs"
        />
        facebook
      </a>
      <a href="#">
        <img
          src="../../../assets/image/icons/twitter.svg"
          alt="arrow"
          class="icon-xs"
        />
        twitter
      </a>
      <a href="#">
        <img
          src="../../../assets/image/icons/instagram.svg"
          alt="arrow"
          class="icon-xs"
        />
        instagram
      </a>
      <a href="#">
        <img
          src="../../../assets/image/icons/linkedin.svg"
          alt="arrow"
          class="icon-xs"
        />
        linkedin
      </a>
      <a href="#">
        <img
          src="../../../assets/image/icons/pinterest.svg"
          alt="arrow"
          class="icon-xs"
        />
        pinterest
      </a>
    </div>
  </div>
  <div class="footer__credit">
    Copyright © 2023 All rights reserved | Made by DS
  </div>
</section>
