.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 3rem 9%;
  z-index: 1000;
  background: #fff;
  margin-bottom: 100rem !important;

  .logo {
    font-size: 2.5rem;
    color: var(--black);
    font-weight: bold;

    span {
      color: var(--first-color);
    }
  }

  .navbar {
    width: 60%;

    ul {
      display: flex;
      justify-content: space-evenly;
      li {
        list-style: none;

        a {
          font-size: 1.7rem;
          color: var(--black);

          &:hover {
            color: var(--first-color);
            transition: 0.2s;
          }
        }
      }
    }
  }

  .active {
    padding: 2rem 9%;
    box-shadow: var(--box-shadow);
  }
}

#login-btn {
  .btn {
    margin-top: 0;

    i {
      display: none;
      font-size: 2.5rem;
      color: var(--light-color);
    }
  }
}

#menu-btn {
  font-size: 2.5rem;
  color: var(--light-color);
  display: none;
}

.login-form-container {
  position: fixed;
  top: -105%;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  z-index: 10000;

  form {
    margin: 2rem;
    text-align: center;
    padding: 2rem;
    width: 40rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    background: #fff;

    .buttons {
      display: flex;
      gap: 1rem;
      align-items: center;
    }

    .btn {
      display: block;
      width: 100%;
      margin: 0.5rem 0;
    }

    .box {
      margin: 0.7rem 0;
      width: 100%;
      font-size: 1.6rem;
      color: var(--black);
      text-transform: none;
      border: var(--border);
      padding: 1rem 1.2rem;
      border-radius: 0.5rem;
    }

    p {
      padding: 1rem 0;
      font-size: 1.5rem;
      color: var(--light-color);

      a {
        color: var(--first-color);
        text-decoration: underline;
      }
    }

    h3 {
      padding-bottom: 1rem;
      font-size: 2.5rem;
      color: var(--black);
      text-transform: uppercase;
      line-height: 1px !important;
    }
  }

  #close-login-form {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    color: var(--black);
    cursor: pointer;
  }
}

.active {
  top: 0;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem;
  }

  .header.active {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: block;
  }

  #menu-btn.fa-times {
    transform: rotate(180deg);
  }

  #login-btn .btn {
    display: none;
  }

  #login-btn i {
    display: block;
  }

  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: vat(--title-color);
    border-top: var(--border);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 3rem;
  }
}
