<section class="newsletter section">
  <div class="newsletter__container container">
    <h3 class="newsletter__title">subscribe for latest updates</h3>
    <p class="newsletter__text">
      Stay informed with the latest news and updates by subscribing to our
      website.
    </p>

    <form action="" class="newsletter__form">
      <input
        type="email"
        placeholder="Enter your email"
        class="newsletter__email"
      />
      <input type="submit" value="subscribe" class="newsletter__submit" />
    </form>
  </div>
</section>
