<section class="services section" id="services">
  <h1 class="heading">our <span>services</span></h1>

  <div class="services__container container">
    <div class="services__content">
      <img
        src="../../../assets/image/icons/auto.svg"
        alt="auto"
        class="services__img"
      />
      <h3 class="services__title">car selling</h3>
      <p class="services__text">
        Looking for a new car? Look no further than our dealership for a wide
        selection of luxury vehicles.
      </p>
      <a href="#" class="btn"> read more</a>
    </div>

    <div class="services__content">
      <img
        src="../../../assets/image/icons/tools.svg"
        alt="tools.svg"
        class="services__img"
      />
      <h3 class="services__title">parts repair</h3>
      <p class="services__text">
        Need a repair or replacement parts for your car? Our expert technicians
        have you covered.
      </p>
      <a href="#" class="btn"> read more</a>
    </div>

    <div class="services__content">
      <img
        src="../../../assets/image/icons/car-insurance.svg"
        alt="car-insurance.svg"
        class="services__img"
      />
      <h3 class="services__title">car insurance</h3>
      <p class="services__text">
        Protect your investment with comprehensive car insurance options.
      </p>
      <a href="#" class="btn"> read more</a>
    </div>

    <div class="services__content">
      <img
        src="../../../assets/image/icons/battery.svg"
        alt="battery.svg"
        class="services__img"
      />
      <h3 class="services__title">battery replacement</h3>
      <p class="services__text">
        Don't get stranded with a dead battery, get it replaced with one of our
        high-quality options.
      </p>
      <a href="#" class="btn"> read more</a>
    </div>

    <div class="services__content">
      <img
        src="../../../assets/image/icons/gas-station.svg"
        alt="gas-station.svg"
        class="services__img"
      />
      <h3 class="services__title">oil change</h3>
      <p class="services__text">
        Regular oil changes are essential for the longevity and performance of
        your car, let us take care of it.
      </p>
      <a href="#" class="btn"> read more</a>
    </div>

    <div class="services__content">
      <img
        src="../../../assets/image/icons/support.svg"
        alt="support.svg"
        class="services__img"
      />
      <h3 class="services__title">24/7 support</h3>
      <p class="services__text">
        Our team of experts are available 24/7 to help with any car related
        needs.
      </p>
      <a href="#" class="btn"> read more</a>
    </div>
  </div>
</section>
