<section class="cards section" id="cards">
  <div class="cards__container container">
    <div class="cards__content">
      <img
        src="../../../assets/image/icons/home.svg"
        alt="home"
        class="cards__img"
      />
      <div class="cards__content-s">
        <h3 class="cards__title">150+</h3>
        <p class="cards__text">branches</p>
      </div>
    </div>

    <div class="cards__content">
      <img
        src="../../../assets/image/icons/auto.svg"
        alt="auto"
        class="cards__img"
      />
      <div class="cards__content-s">
        <h3 class="cards__title">4770+</h3>
        <p class="cards__text">cars sold</p>
      </div>
    </div>

    <div class="cards__content">
      <img
        src="../../../assets/image/icons/people.svg"
        alt="people"
        class="cards__img"
      />
      <div class="cards__content-s">
        <h3 class="cards__title">320+</h3>
        <p class="cards__text">happy clients</p>
      </div>
    </div>

    <div class="cards__content">
      <img
        src="../../../assets/image/icons/car-showroom.svg"
        alt="car-showroom"
        class="cards__img"
      />
      <div class="cards__content-s">
        <h3 class="cards__title">1500+</h3>
        <p class="cards__text">news cars</p>
      </div>
    </div>
  </div>
</section>
